.form {
    padding: 12px;
    border: 1px solid #dddddd;
    font-size: 24px;
  }
  
  .email-container {
    padding: 12px;
  }
  
  .password-container {
    margin-top: 12px;
    margin-bottom: 26px;
  }
  
  .input {
    border: 1px solid #dddddd;
    width: 100%;
  }
  
  .label {
    font-size: 17px;
  }
  
  .login-button {
    background-color: blue;
    color: white;
    padding: 4px;
    border-radius: 10%;
    float: left;
    position: relative;
    transform: translateX(180%);
  }
  
  .container {
      display: flex;
      flex-direction: column
  }
  
  .login-tab {
      display:flex;
      width:100%;
  }
  
  .login-tab-label {
      width:50%;
      padding:6px;
  }
  
  
  